/* #29BC9C
#3A546D
 */

 .box {

    height: 200px;
    width: 200px;
    border: 1px solid red;
    margin: 0 auto;
 }


#header {

    background-color: #2C3E50;
    color: white;
}

button {

    background-color: transparent;
    color: white;
}


.hero {

    background-color: #29BC9C;
    color: white;
}

#about {

    background-color: #29BC9C;
    color: white;
}