#header {

    background-color: #3A546D;

}

#hero {

    background-color: #29BC9C;
    color: white;
}


#portfolio img {

    border-radius: 20px;
}

#about {

    background-color: #29BC9C;
    color: white;
}

.about__button {

    color: invert;
}

.about__button>i {

    padding-right: .5rem;
}

#footer h3 {

    margin-bottom: 2rem;
}


.footer__top {

    background-color: #3A546D;
    color: white;
}

.footer__bottom {

    background-color: #2C3E50;
    color: white;
}

.fa-star {

    color: currentColor;
    margin-top: 1rem;
}

